
.main-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5BD99E;
}

.main-nav .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.nav-logo span {
  padding-top: 1.2rem;
  color: #34BF7E;
  font-family: "Cookie", "Open Sans", sans-serif;
  font-size: 18px;
}

.main-nav .nav-logo img{
    width: 3vw;
}

.main-nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-right: 2rem;
}

.nav-links li {
    list-style-type: none;
}

.nav-links li a {
    text-decoration: none;
    color: #5BCCD9;
    font-size: 18px;
}